extends ../layout

block content
  main(role="main")
    .container.mt-4.mb-2.pt-5.pb-0
      if !email
        h1 メールアドレスを確認できませんでした
      else
        h1 #{email} のメールアドレスが確認されました
    .container.pb-5.mb-5