extends ../layout

block content
  main(role="main")
    .container.mt-4.mb-2.pt-5.pb-0
      h1 サインアップ
      if errorMessage
        h2= errorMessage
      form(action="/signup" method="POST")
        .form-group
          label(for="email") Eメールアドレス
          input#email.form-control(type="text" name="email" placeholder="Eメールアドレス")
        .form-group
          label(for="password") パスワード
          input#password.form-control(type="password" name="password" placeholder="パスワード")
        .form-group
          label(for="repassword") パスワードの再入力
          input#repassword.form-control(type="password" name="repassword" placeholder="パスワード")
        input.btn.btn-primary(type="submit" name="submit" value="サインアップ")
    .container.pb-5.mb-5