doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      if user
        h3= user.email
        a(href='/logout') ログアウト
      else
        a(href='/login') ログイン
    block content