doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div
      if user
        h3= user.email
        div
          a(href="/upload") 動画投稿
        div
          a(href="/logout") ログアウト
      else
        div
          a(href="/login") ログイン
        div
          a(href="/signup") サインアップ
    block content
    script(src="/javascripts/bundle.js")