extends layout

block content
  main(role="main")
    .container.mt-4.mb-2.pt-5.pb-0
      h1 ログイン
      form(action="/login" method="POST")
        .form-group
          label(for="email") Eメールアドレス
          input#email.form-control(type="text" name="email" placeholder="Eメールアドレス")
        .form-group
          label(for="password") パスワード
          input#password.form-control(type="password" name="password" placeholder="パスワード")
        input.btn.btn-primary(type="submit" name="submit" value="ログイン")
    .container.pb-5.mb-5